/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  /* //////////////////////////  LOGOUT MODAL ////////////////////////////////// */

  .logoutModalBox h1 {
    margin-bottom: 1rem !important;
  }

  .logoutModalBox p {
    margin-top: 0.5rem !important;
    font-size: 1.1rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  DELETE FAV MODAL ////////////////////////////////// */

  .deleteFavModalBox h1 {
    margin-bottom: 1rem !important;
  }
  .deleteFavModalBox p {
    margin-top: 0.5rem !important;
    font-size: 1.1rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MY PROFILE UPDATED MODAL ////////////////////////////////// */

  .myProfileUpdatedModalBox {
    width: 30% !important;
  }

  .myProfileUpdatedModalBox h1 {
    margin-bottom: 1rem !important;
  }
  .myProfileUpdatedModalBox p {
    margin-top: 0.5rem !important;
    font-size: 1.1rem !important;
  }
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  .container {
    max-width: 960px;
  }

  /* //////////////////////////  LOGIN PAIGE ////////////////////////////////// */

  .loginPageHeader {
    font-size: 2.8rem !important;
  }

  .container-h2 h2 {
    font-size: 1.8rem !important;
  }

  .loginPageButtons {
    margin-top: 5rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MAIN PAIGE ////////////////////////////////// */

  .mainPageHeader {
    font-size: 1.7rem !important;
    margin-left: 1.7rem !important;
  }

  .li-text-mainPage {
    font-size: 1.7rem !important;
  }

  ion-icon {
    margin-right: 1.7rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  USERS LIST ////////////////////////////////// */

  .usersListHeader {
    font-size: 1.7rem !important;
    margin-left: 1.7rem !important;
  }

  .table {
    width: 90% !important;
  }

  .usersTable {
    max-height: 60vh !important;
  }

  .usersTable tr {
    font-size: 1rem !important;
  }
  .usersTable button {
    font-size: 1rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* ////////////////////////////// PROFILE TABLE  /////////////////////////////// */

  .profileHeader {
    font-size: 1.7rem !important;
    margin-left: 1.7rem !important;
  }

  .table-container th {
    font-size: 1.3rem !important;
  }

  .table-container td {
    font-size: 1rem !important;
    font-style: italic;
    vertical-align: middle;
  }

  .table-container button {
    font-size: 1rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  LOGOUT MODAL ////////////////////////////////// */

  .logoutModalBox {
    width: 35% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  DELETE FAV MODAL ////////////////////////////////// */

  .deleteFavModalBox {
    width: 35% !important;
  }

  .deleteFavModalBox h1 {
    margin-bottom: 1rem !important;
  }
  .deleteFavModalBox p {
    margin-top: 0.5rem !important;
    font-size: 1.1rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MY PROFILE UPDATED MODAL ////////////////////////////////// */

  .myProfileUpdatedModalBox {
    width: 35% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
}

/**************************/
/* BELOW 992px  */
/**************************/

@media (max-width: 991px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0.5rem;
  }

  .navbar-nav {
    margin-right: 0 !important;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  /* //////////////////////////  LOGIN PAIGE ////////////////////////////////// */

  .loginPageHeader {
    font-size: 2.2rem !important;
  }

  .container-h2 h2 {
    font-size: 1.5rem !important;
  }

  .loginPageButtons {
    margin-top: 6rem !important;
  }

  .loginPageButtons button {
    font-size: 1rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  LOGIN MODAL ////////////////////////////////// */

  .loginModal {
    width: 50vw !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  REGISTER FORM MODAL ////////////////////////////////// */

  .registerFormModal {
    width: 50vw !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MAIN PAIGE ////////////////////////////////// */

  .mainPageHeader {
    font-size: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .li-text-mainPage {
    font-size: 1.5rem !important;
  }

  ion-icon {
    margin-right: 1.5rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  USERS LIST ////////////////////////////////// */

  .usersListHeader {
    font-size: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .table {
    width: 87% !important;
  }

  .usersTable {
    max-height: 60vh !important;
  }

  .usersTable tr {
    font-size: 0.8rem !important;
  }
  .usersTable button {
    font-size: 0.7rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* ////////////////////////////// PROFILE TABLE  /////////////////////////////// */

  .profileHeader {
    font-size: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .table-container th {
    font-size: 1.1rem !important;
  }

  .table-container td {
    font-size: 1rem !important;
    font-style: italic;
    vertical-align: middle;
  }

  .table-container button {
    font-size: 0.9rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MY PROFILE FORM MODAL ////////////////////////////////// */

  .myProfileFormModal {
    width: 50vw !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MY PROFILE UPDATED MODAL ////////////////////////////////// */

  .myProfileUpdatedModalBox {
    width: 45% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////  LOGOUT MODAL ////////////////////////////////// */

  .logoutModalBox {
    width: 45% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  DELETE FAV MODAL ////////////////////////////////// */

  .deleteFavModalBox {
    width: 45% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  /* //////////////////////////  LOGIN PAIGE ////////////////////////////////// */

  .loginPageHeader {
    font-size: 1.8rem !important;
  }

  .container-h2 {
    padding: 0rem 4rem 0 4rem !important;
  }
  .container-h2 h2 {
    font-size: 1.6rem !important;
  }

  .loginPageButtons {
    margin-top: 6rem !important;
  }

  .loginPageButtons button {
    margin: 0 1.5rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  LOGIN MODAL ////////////////////////////////// */

  .loginModal {
    width: 50vw !important;
    margin: auto !important;
    margin-top: 8rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  REGISTER FORM MODAL ////////////////////////////////// */

  .registerFormModal {
    width: 50vw !important;
    margin: auto !important;
    margin-top: 2rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MAIN PAIGE ////////////////////////////////// */

  .mainPageHeader {
    font-size: 1.4rem !important;
    margin-left: 1.4rem !important;
  }

  .li-text-mainPage {
    font-size: 1.3rem !important;
  }

  ion-icon {
    margin-right: 1.3rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  USERS LIST ////////////////////////////////// */

  .usersListHeader {
    font-size: 1.4rem !important;
    margin-left: 1.4rem !important;
  }

  .table {
    width: 87% !important;
  }

  .usersTable {
    max-height: 58vh !important;
  }

  .usersTable tr {
    font-size: 0.8rem !important;
  }
  .usersTable button {
    font-size: 0.7rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* ////////////////////////////// PROFILE TABLE  /////////////////////////////// */

  .profileHeader {
    margin-bottom: 3.5rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MY PROFILE FORM MODAL ////////////////////////////////// */

  .myProfileFormModal {
    width: 50vw !important;
    margin: auto !important;
    margin-top: 8rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MY PROFILE UPDATED MODAL ////////////////////////////////// */

  .myProfileUpdatedModalBox {
    width: 60% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////  LOGOUT MODAL ////////////////////////////////// */

  .logoutModalBox {
    width: 55% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  DELETE FAV MODAL ////////////////////////////////// */

  .deleteFavModalBox {
    width: 60% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  FOOTER ////////////////////////////////// */
  .mainFooter ul {
    padding-right: 0.5rem !important;
  }

  .mainFooter {
    display: flex;
  }

  .footerH2 {
    font-size: 0.8rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .main-content {
    padding: 0 2rem !important;
  }
  /* //////////////////////////  LOGIN PAIGE ////////////////////////////////// */

  .loginPageHeader {
    font-size: 2.5rem !important;
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    text-align: center !important;
  }

  .container-h2 {
    padding: 0 0.5rem !important;
  }
  .container-h2 h2 {
    font-size: 1.5rem !important;
    margin-top: 3rem !important;
    text-align: center !important;
  }

  .loginPageButtons {
    margin-top: 5rem !important;
  }

  .loginPageButtons button {
    margin: 0 1.2rem !important;
    font-size: 0.9rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  LOGIN MODAL ////////////////////////////////// */

  .loginModal {
    width: 50vw !important;
    margin: auto !important;
    margin-top: 8rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  REGISTER FORM MODAL ////////////////////////////////// */

  .registerFormModal {
    width: 50vw !important;
    margin: auto !important;
    margin-top: 2rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MAIN PAIGE ////////////////////////////////// */

  .mainPageHeader {
    font-size: 1.4rem !important;
    margin-left: 1.4rem !important;
  }

  .li-text-mainPage {
    font-size: 1.3rem !important;
  }

  ion-icon {
    margin-right: 1.3rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  USERS LIST ////////////////////////////////// */

  .usersListHeader {
    font-size: 1.4rem !important;
    margin-left: 1.4rem !important;
  }

  .table {
    width: 87% !important;
  }

  .usersTable {
    max-height: 58vh !important;
  }

  .usersTable tr {
    font-size: 0.8rem !important;
  }
  .usersTable button {
    font-size: 0.7rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* ////////////////////////////// PROFILE TABLE  /////////////////////////////// */

  .profileHeader {
    margin-bottom: 3.5rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MY PROFILE FORM MODAL ////////////////////////////////// */

  .myProfileFormModal {
    width: 50vw !important;
    margin: auto !important;
    margin-top: 8rem !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  MY PROFILE UPDATED MODAL ////////////////////////////////// */

  .myProfileUpdatedModalBox {
    width: 60% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////  LOGOUT MODAL ////////////////////////////////// */

  .logoutModalBox {
    width: 55% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  DELETE FAV MODAL ////////////////////////////////// */

  .deleteFavModalBox {
    width: 60% !important;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////  FOOTER ////////////////////////////////// */

  .mainFooter {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }

  .mainFooter ul {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
  }

  .footerIcons {
    margin-top: 0.5rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .footerH2 {
    font-size: 0.7rem !important;
    margin: 1rem 0 !important;
    padding: 0 !important;
    text-align: center;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////// */
}
