.hidden {
  display: none;
}

.bg-dark-transparent {
  background-color: rgba(0, 0, 0);
}

.main-content {
  margin-bottom: 10rem;
}

.highMarginTop {
  margin-top: 5rem;
}

.smallFontSize {
  font-size: 0.85rem;
}

.right {
  text-align: right;
}

.hoverTable:hover {
  background-color: rgba(87, 22, 22, 0.815);
}

.nav-item {
  align-self: flex-end !important;
}

/* //////////////////////////  LOGOUT MODAL ////////////////////////////////// */

.logoutModal {
  background-color: rgba(0, 0, 0, 0.801);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.logoutModalBox {
  background-color: whitesmoke;
  text-align: center;
  width: 30%;
  height: 40%;
}

.logoutModalBox h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.logoutModalBox p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.modal-btn {
  margin: 2rem;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* //////////////////////////  DELETE FAV MODAL ////////////////////////////////// */

.deleteFavModal {
  background-color: rgba(0, 0, 0, 0.801);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.deleteFavModalBox {
  color: black;
  background-color: whitesmoke !important;
  text-align: center;
  width: 30%;
  height: 40%;
}

.deleteFavModalBox h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.deleteFavModalBox p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.modal-btn {
  margin: 2rem;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 600px) {
  .footerH2 {
    font-size: 0.8rem !important;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: -4px;
  }
  .footerIcons {
    padding-left: 50%;
    padding-top: 0;
  }
  .footerIcon {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
  }
}
