.hidden {
  display: none;
}

.bg-dark-transparent {
  background-color: rgba(0, 0, 0);
}

.main-content {
  margin-bottom: 10rem;
}

.highMarginTop {
  margin-top: 5rem;
}

.smallFontSize {
  font-size: 0.85rem;
}

.right {
  text-align: right;
}

.hoverTable:hover {
  background-color: rgba(87, 22, 22, 0.815);
}

.nav-item {
  align-self: flex-end !important;
}

/* //////////////////////////  LOGIN PAIGE ////////////////////////////////// */

.loginPageMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPageHeader {
  font-size: 4rem;
}

.loginPageButtons {
  display: flex;
  margin-top: 8rem;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  MAIN PAIGE ////////////////////////////////// */

.mainPageList {
  list-style: none;
}

ion-icon {
  margin-right: 1rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  LOGOUT MODAL ////////////////////////////////// */

.logoutModal {
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.logoutModalBox {
  color: black;
  border: solid 1px black;
  border-radius: 2%;
  background-color: #fff !important;
  text-align: center;
  width: 25%;
  height: 35%;
}

.logoutModalBox h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}
.logoutModalBox p {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  color: black;
}

.modal-btn {
  margin: 1rem;
  width: 30%;
  font-size: 1rem;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  DELETE FAV MODAL ////////////////////////////////// */

.deleteFavModal {
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.deleteFavModalBox {
  color: black;
  border: solid 1px black;
  border-radius: 2%;
  background-color: #fff !important;
  text-align: center;
  width: 30%;
  height: 35%;
}

.deleteFavModalBox h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}
.deleteFavModalBox p {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  color: black;
}

.modal-btn {
  margin: 1rem;
  width: 30%;
  font-size: 1rem;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  MY PROFILE UPDATED MODAL ////////////////////////////////// */

.myProfileUpdatedModal {
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.myProfileUpdatedModalBox {
  color: black;
  border: solid 1px black;
  border-radius: 2%;
  background-color: #fff !important;
  text-align: center;
  width: 20%;
  height: 30%;
}

.myProfileUpdatedModalBox h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}
.myProfileUpdatedModalBox p {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  color: black;
}

.modal-btn {
  margin: 1rem;
  width: 30%;
  font-size: 1rem;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////// PROFILE TABLE  /////////////////////////////// */

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 45vw;
}

.container-profile {
  margin: 5rem;
}

.table-container th {
  min-width: 10rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  MY PROFILE FORM MODAL ////////////////////////////////// */

.myProfileFormModalHeader {
  border-bottom: 1px solid black;
}

.myProfileFormModalHeader h4 {
  font-size: 1.5rem;
}

.myProfileFormModalFooter {
  border-top: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  LOGIN MODAL ////////////////////////////////// */

.loginModalHeader {
  border-bottom: 1px solid black;
}

.loginModalHeader h4 {
  font-size: 1.5rem;
}

.loginModalFooter {
  border-top: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  REGISTER FORM MODAL ////////////////////////////////// */

.registerFormModalHeader {
  border-bottom: 1px solid black;
}

.registerFormModalHeader h4 {
  font-size: 1.5rem;
}

.registerFormModalFooter {
  border-top: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 600px) {
  .footerH2 {
    font-size: 0.8rem !important;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: -4px;
  }
  .footerIcons {
    padding-left: 50%;
    padding-top: 0;
  }
  .footerIcon {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
  }
}
