.hidden {
  display: none;
}

.bg-dark-transparent {
  background-color: rgba(0, 0, 0);
}

.main-content {
  background-image: url("../src/keyboard\ bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.smallFontSize {
  font-size: 0.85rem;
}

.right {
  text-align: right;
}

.nav-item {
  align-self: flex-end !important;
}

.PhoneInputInput {
  background-color: #212529;
  color: #fff;
  border: none;
}

/* //////////////////////////  LOADER PAGE ////////////////////////////////// */

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 200000;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #ffc107 transparent #ffc107 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  LOGIN PAGE ////////////////////////////////// */

.loginPageMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPageHeader {
  font-size: 4rem;
}

.container-h2 {
  backdrop-filter: blur(2px);
}

.loginPageButtons {
  display: flex;
  margin-top: 8rem;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  MAIN PAGE ////////////////////////////////// */

.mainPageMainContent {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.mainPageHeader {
  font-size: 2rem;
}

.mainPageList {
  list-style: none;
  padding: 0;
  backdrop-filter: blur(2px);
  margin: auto;
}

.iconMainPage {
  color: #fff;
}

.iconMainPage:hover {
  color: #f0ad4e;
}

ion-icon {
  margin-right: 2rem;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  USERS LIST ////////////////////////////////// */

.usersListHeader {
  font-size: 2rem;
}

.usersTable {
  max-height: 63vh;
  overflow: auto;
  backdrop-filter: blur(2px);
}

.usersTable thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.hoverTable:hover {
  background-color: black;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////// PROFILE TABLE  /////////////////////////////// */

.profileMainContent {
  height: 100vh;
}

.profileHeader {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.container-profile {
  margin: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 50%;
  backdrop-filter: blur(2px);
  margin: auto;
}

.table-container th {
  min-width: 10rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

.table-container td {
  font-size: 1.2rem;
  font-style: italic;
  vertical-align: middle;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  LOGOUT MODAL ////////////////////////////////// */

.logoutModal {
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.logoutModalBox {
  /* color: black; */
  color: #fff;
  border: solid 0.5px #ffc10754;
  /* border: solid 0.5px rgb(221, 221, 221); */
  border-radius: 2%;
  /* background-color: #fff !important; */
  background-color: rgb(27, 27, 27) !important;
  text-align: center;
  width: 25%;
  height: 35%;
}

.logoutModalBox h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid black; */
  border-bottom: solid 0.5px #ffc10754;
}
.logoutModalBox p {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  /* color: black; */
  color: #fff;
}

.modal-btn {
  margin: 1rem;
  width: 30%;
  font-size: 1rem;
}

.showmodal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  DELETE FAV MODAL ////////////////////////////////// */

.deleteFavModal {
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.deleteFavModalBox {
  color: #fff;
  border: solid 0.5px #ffc10754;
  border-radius: 2%;
  background-color: rgb(27, 27, 27) !important;
  text-align: center;
  width: 30%;
  height: 35%;
}

.deleteFavModalBox h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.5px #ffc10754;
}
.deleteFavModalBox p {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  color: #fff;
}

.modal-btn {
  margin: 1rem;
  width: 30%;
  font-size: 1rem;
}

.showModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  MY PROFILE UPDATED MODAL ////////////////////////////////// */

.myProfileUpdatedModal {
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.myProfileUpdatedModalBox {
  color: #fff;
  border: solid 0.5px #ffc10754;
  border-radius: 2%;
  background-color: rgb(27, 27, 27) !important;
  text-align: center;
  width: 25%;
  height: 30%;
}

.myProfileUpdatedModalBox h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.5px #ffc10754;
}
.myProfileUpdatedModalBox p {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  color: #fff;
}

.modal-btn {
  margin: 1rem;
  width: 30%;
  font-size: 1rem;
}

.showModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  MY PROFILE FORM MODAL ////////////////////////////////// */

.myProfileFormModalBox {
  background-color: rgb(27, 27, 27) !important;
  color: #fff;
  border-radius: 2%;
  border: solid 0.5px #ffc10754;
}

.myProfileFormModalHeader {
  border-bottom: solid 0.5px #ffc10754;
}

.myProfileFormModalHeader h4 {
  font-size: 1.5rem;
}

.myProfileFormModalFooter {
  border-top: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  LOGIN MODAL ////////////////////////////////// */

.loginModalBox {
  background-color: rgb(27, 27, 27) !important;
  color: #fff;
  border-radius: 2%;
  border: solid 0.5px #ffc10754;
}

.loginModalHeader {
  border-bottom: solid 0.5px #ffc10754;
}

.loginModalHeader h4 {
  font-size: 1.5rem;
}

.loginModalFooter {
  border-top: none;
}
.forgotPassword {
  color: #ffc107;
  text-decoration: none;
}

.forgotPassword:hover {
  color: #fff;
  text-decoration: underline;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  FORGOT PASSWORD MODAL 1 ////////////////////////////////// */

.forgotPasswordModal1Box {
  background-color: rgb(27, 27, 27) !important;
  color: #fff;
  border-radius: 2%;
  border: solid 0.5px #ffc10754;
}

.forgotPasswordModal1Header {
  border-bottom: solid 0.5px #ffc10754;
}

.forgotPasswordModal1Header h4 {
  font-size: 1.5rem;
}

.forgotPasswordModal1Footer {
  border-top: none;
}
.forgotPassword {
  color: #ffc107;
  text-decoration: none;
}

.forgotPassword:hover {
  color: #fff;
  text-decoration: underline;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  FORGOT PASSWORD MODAL 2 ////////////////////////////////// */

.forgotPasswordModal2 {
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.forgotPasswordModal2Box {
  color: #fff;
  border: solid 0.5px #ffc10754;
  border-radius: 2%;
  background-color: rgb(27, 27, 27) !important;
  text-align: center;
  width: 25%;
  height: 30%;
}

.forgotPasswordModal2Box h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.5px #ffc10754;
}
.forgotPasswordModal2Box p {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  color: #fff;
}

.modal-btn {
  margin: 1rem;
  width: 30%;
  font-size: 1rem;
}

.showModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  REGISTER FORM MODAL ////////////////////////////////// */

.registerFormModalBox {
  background-color: rgb(27, 27, 27) !important;
  color: #fff;
  border-radius: 2%;
  border: solid 0.5px #ffc10754;
}

.registerFormModalHeader {
  border-bottom: solid 0.5px #ffc10754;
}

.registerFormModalHeader h4 {
  font-size: 1.5rem;
}

.registerFormModalFooter {
  border-top: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////  FOOTER  ////////////////////////////////// */

footer h2 {
  margin-left: 1rem;
}

footer {
  border-top: solid 1px rgba(245, 245, 245, 0.233);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */
