.loginModalBox {
  margin-top: 25vh;
  background-color: rgb(27, 27, 27) !important;
  color: #fff;
  border-radius: 2%;
  border: solid 0.5px #ffc10754;
}

.loginModalHeader {
  border-bottom: solid 0.5px #ffc10754;
}

.loginModalHeader h4 {
  font-size: 1.5rem;
}

.loginModalFooter {
  border-top: none;
}
